.contenedor, .contenedorRick {
  width: 500px;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  justify-content: center;
}


.tickv, .tickw {
  position: relative;
  display: inline;
  height: 100px;
  width: 100px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.principal {
  text-align: center;
  color: white;
}

html {
  background: linear-gradient(
    90deg,
    rgb(253, 200, 8) 0%,
    rgb(255, 122, 39) 54%,
    rgb(251, 71, 71) 82%
  );
  background-position: fixed;
  
}

#map { height: 400px; 
       width: 600px;
       margin: 0 auto;
}

#maptext {
  text-align: center;
  color: white;
}