body {
  font-family: monospace;
  background: url("../../Multimedia/pexels-thisisengineering-3862130.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-tableAlumnos {
  width: 90%;
  background: white;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, 16,666666666666666666666666666667%);
  grid-auto-rows: 25px;
  box-shadow: 0 0 10px #757474;
}

.table-title {
  grid-column-start: 1;
  grid-column-end: 7;
  color: white;
  background-color: #f46d24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}

.table-header,
.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-header {
  font-weight: bold;
  font-size: 1.6em;
}

.table-item {
  padding: 5px;
  font-size: 1.2em;
}

/*   STYLE INSERTAR    */

.container-add {
  width: 90%;
  margin: 50px auto;
}

.container__title {
  margin: 0;
  padding: 10px;
  background: rgb(40, 120, 76);
  color: white;
  font-size: 2em;
  text-align: center;
}

.container__form {
  background-color: white;
  box-shadow: 0 0 10px #757474;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.container__label {
  font-size: 1.2em;
  width: 20%;
}

.container__input {
  width: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px;
}

.btn,
.btn-outline-dark {
  margin: 15px auto;
}

.regresar-container {
  text-decoration: none;
  border-radius: 3px;
  display: grid;
  margin: 50px auto;
  padding: 5px;
  text-align: center;
}
a:link,
a:visited {
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
